* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

.conteiner-flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.flex-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.content-center {
    justify-content: center;
}


/* headers */


.menu {
    height: 50px;
    background-color: green;
}

nav {
    min-width: 50%;
}

ul {
    list-style: none;
}

#header {
    height: 500px;
    background-color: blue;
    color: white;
    text-align: center;
}

#intro {
    height: 50%;
    width: 50%;
    background-color: red;
}


/* main */


section {
    height: 800px;
    padding-top: 100px;
    border-bottom: 3px solid black;
}

.sezione {
    min-width: 50%;
}


.img {
    height: 400px;
    width: 600px;
    background-color: grey;
}

.paragrafo {
    height: 600px;
    max-width: 450px;
    background-color: grey;
}